/* 首页样式 */

/* 版心居中 */
.wrapper {
    margin: 0 auto;
    width: 1200px;
}

body {
    background-color: #f3f5f7;
}

/* 头部区域 */
.header {
    height: 1200px;
    background-color: #fff;
}

.header .wrapper {
    padding-top: 29px; /* 顶收 */
    display: flex;
}

/* logo */
.logo {
    display: block; /* 转换为块 */
    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);
    /* 隐藏文字 */
    font-size: 0;
}

/* 导航 */
.nav {
    margin-left: 102px; /* 左阔 */
}

.nav ul {
    display: flex;
}

.nav li {
    margin-right: 24px;
}

.nav li a {
    display: block;
    padding: 6px 8px; /* 上下 左右 收 */
    line-height: 27px; /* 行高 */
    font-size: 19px; /* 字体大小 */
}

/* 字体下划线：首页，以及课程、职业规划鼠标停留时 (两种情况逗号分隔) */
.nav li .active,
.nav li a:hover { /* hover鼠标悬停 */
    border-bottom: 2px solid #00a4ff; /* 下边框线，solid实线 */
}

/* 搜索 */
.search {
    display: flex;
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px; /* 倒角 */
}

.search input {
    flex: 1; /* 盒子中弹性伸缩比 */
    border: 0; /* 去除边框 */
    background-color: transparent; /* 透明 */
    outline: none; /* 去掉表单控件的焦点框，点中时也不显示边框 */
}

.search input::placeholder {
    font-size: 14px;
    color: #999;
}

/* 父级search是flex布局，子级变成弹性盒子，加宽高属性生效，否则需要先display: block;转换为块 */
.search a {
    align-self: center; /* 纵向居中 */
    width: 16px;
    height: 16px;
    background-image: url(../images/search.png);
}

.user {
    margin-left: 32px;
    margin-top: 4px;
}

.user img {
    margin-right: 7px;
    vertical-align: middle; /* 行内块和行内垂直方向对齐方式 */
}

.user span {
    font-size: 16px;
    color: #666;
}